* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    font-size: 1em;
    color: #EFF2F1;
    background-color: #1D263B;
    text-align: center;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
}

a {
    color: inherit;
}

.content p {
    margin: 50px auto;
}

.return-home {
    color: #85d6ff;
    font-style: italic;
}

.return-home a {
    text-decoration: none;
}

.return-home:hover {
    color: #ffa2bb;
    transition: all 0.2s ease-out;
}

.copyright {
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    bottom: 0;
}

.glitch {
    font-size: 7em;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D263B;
    clip: rect( 0, 900px, 0, 0);
}

.glitch::before {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitching-1-small 2s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -1px 0 blue;
    animation: glitching-2-small 2s infinite linear alternate-reverse;
}

@media only screen and (min-width: 768px) {
    .content {
        font-size: 1.2em;
    }
    .glitch {
        font-size: 12em;
    }
    .glitch::before {
        left: 2px;
        text-shadow: -1px 0 red;
        animation: glitching-1-big 2s infinite linear alternate-reverse;
    }
    .glitch::after {
        left: -2px;
        text-shadow: -1px 0 blue;
        animation: glitching-2-big 2s infinite linear alternate-reverse;
    }
}

@keyframes glitching-1-small {
    0% {
        clip: rect(52px, 9999px, 54px, 0);
    }
    5% {
        clip: rect(22px, 9999px, 69px, 0);
    }
    10% {
        clip: rect(58px, 9999px, 39px, 0);
    }
    15.0% {
        clip: rect(52px, 9999px, 83px, 0);
    }
    20% {
        clip: rect(73px, 9999px, 37px, 0);
    }
    25% {
        clip: rect(44px, 9999px, 65px, 0);
    }
    30.0% {
        clip: rect(96px, 9999px, 83px, 0);
    }
    35% {
        clip: rect(30px, 9999px, 30px, 0);
    }
    40% {
        clip: rect(36px, 9999px, 70px, 0);
    }
    45% {
        clip: rect(35px, 9999px, 76px, 0);
    }
    50% {
        clip: rect(67px, 9999px, 108px, 0);
    }
    55.0% {
        clip: rect(15px, 9999px, 56px, 0);
    }
    60.0% {
        clip: rect(92px, 9999px, 41px, 0);
    }
    65% {
        clip: rect(64px, 9999px, 37px, 0);
    }
    70% {
        clip: rect(38px, 9999px, 109px, 0);
    }
    75% {
        clip: rect(55px, 9999px, 79px, 0);
    }
    80% {
        clip: rect(33px, 9999px, 95px, 0);
    }
    85.0% {
        clip: rect(64px, 9999px, 94px, 0);
    }
    90% {
        clip: rect(55px, 9999px, 57px, 0);
    }
    95% {
        clip: rect(47px, 9999px, 30px, 0);
    }
    100% {
        clip: rect(14px, 9999px, 101px, 0);
    }
}

@keyframes glitching-2-small {
    0% {
        clip: rect(75px, 9999px, 110px, 0);
    }
    5% {
        clip: rect(62px, 9999px, 84px, 0);
    }
    10% {
        clip: rect(89px, 9999px, 95px, 0);
    }
    15.0% {
        clip: rect(85px, 9999px, 15px, 0);
    }
    20% {
        clip: rect(77px, 9999px, 71px, 0);
    }
    25% {
        clip: rect(24px, 9999px, 89px, 0);
    }
    30.0% {
        clip: rect(11px, 9999px, 76px, 0);
    }
    35% {
        clip: rect(96px, 9999px, 40px, 0);
    }
    40% {
        clip: rect(33px, 9999px, 108px, 0);
    }
    45% {
        clip: rect(95px, 9999px, 82px, 0);
    }
    50% {
        clip: rect(81px, 9999px, 85px, 0);
    }
    55.0% {
        clip: rect(12px, 9999px, 58px, 0);
    }
    60.0% {
        clip: rect(40px, 9999px, 26px, 0);
    }
    65% {
        clip: rect(69px, 9999px, 60px, 0);
    }
    70% {
        clip: rect(51px, 9999px, 72px, 0);
    }
    75% {
        clip: rect(12px, 9999px, 92px, 0);
    }
    80% {
        clip: rect(57px, 9999px, 83px, 0);
    }
    85.0% {
        clip: rect(13px, 9999px, 37px, 0);
    }
    90% {
        clip: rect(36px, 9999px, 65px, 0);
    }
    95% {
        clip: rect(52px, 9999px, 107px, 0);
    }
    100% {
        clip: rect(48px, 9999px, 59px, 0);
    }
}

@keyframes glitching-1-big {
    0% {
        clip: rect(84px, 9999px, 88px, 0);
    }
    5% {
        clip: rect(24px, 9999px, 118px, 0);
    }
    10% {
        clip: rect(48px, 9999px, 58px, 0);
    }
    15.0% {
        clip: rect(84px, 9999px, 146px, 0);
    }
    20% {
        clip: rect(126px, 9999px, 54px, 0);
    }
    25% {
        clip: rect(68px, 9999px, 110px, 0);
    }
    30.0% {
        clip: rect(86px, 9999px, 146px, 0);
    }
    35% {
        clip: rect(40px, 9999px, 40px, 0);
    }
    40% {
        clip: rect(52px, 9999px, 120px, 0);
    }
    45% {
        clip: rect(50px, 9999px, 132px, 0);
    }
    50% {
        clip: rect(114, 9999px, 196px, 0);
    }
    55.0% {
        clip: rect(10px, 9999px, 92px, 0);
    }
    60.0% {
        clip: rect(164px, 9999px, 62px, 0);
    }
    65% {
        clip: rect(108px, 9999px, 108px, 0);
    }
    70% {
        clip: rect(56px, 9999px, 198px, 0);
    }
    75% {
        clip: rect(90px, 9999px, 138px, 0);
    }
    80% {
        clip: rect(46px, 9999px, 170px, 0);
    }
    85.0% {
        clip: rect(108px, 9999px, 168px, 0);
    }
    90% {
        clip: rect(90px, 9999px, 94px, 0);
    }
    95% {
        clip: rect(74px, 9999px, 40px, 0);
    }
    100% {
        clip: rect(8px, 9999px, 182px, 0);
    }
}

@keyframes glitching-2-big {
    0% {
        clip: rect(130px, 9999px, 200px, 0);
    }
    5% {
        clip: rect(104px, 9999px, 148px, 0);
    }
    10% {
        clip: rect(158px, 9999px, 170px, 0);
    }
    15.0% {
        clip: rect(150px, 9999px, 10px, 0);
    }
    20% {
        clip: rect(134px, 9999px, 122px, 0);
    }
    25% {
        clip: rect(28px, 9999px, 158px, 0);
    }
    30.0% {
        clip: rect(2px, 9999px, 132px, 0);
    }
    35% {
        clip: rect(172px, 9999px, 60px, 0);
    }
    40% {
        clip: rect(46px, 9999px, 196px, 0);
    }
    45% {
        clip: rect(170px, 9999px, 144px, 0);
    }
    50% {
        clip: rect(142px, 9999px, 150px, 0);
    }
    55.0% {
        clip: rect(4px, 9999px, 96px, 0);
    }
    60.0% {
        clip: rect(60px, 9999px, 32px, 0);
    }
    65% {
        clip: rect(118px, 9999px, 100px, 0);
    }
    70% {
        clip: rect(82px, 9999px, 124px, 0);
    }
    75% {
        clip: rect(4px, 9999px, 164px, 0);
    }
    80% {
        clip: rect(94px, 9999px, 146px, 0);
    }
    85.0% {
        clip: rect(6px, 9999px, 54px, 0);
    }
    90% {
        clip: rect(52px, 9999px, 110px, 0);
    }
    95% {
        clip: rect(84px, 9999px, 194px, 0);
    }
    100% {
        clip: rect(76px, 9999px, 98px, 0);
    }
}