body {
    font-size: 16px;
}

article {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 8vh;
    max-width: 1000px;
}

h1 {
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #F08CAE;
}

h3 {
    font-size: 1.2em;
    margin-top: 25px;
    color: #7EB77F;
}

h3::before {
    content: " \003E\A0 ";
}

.article-description {
    margin: 50px 0 25px 0;
    letter-spacing: 0.025em;
}

section {
    padding-top: 25px;
}

section p, section ul {
    margin-top: 25px;
    letter-spacing: 0.025em;
}

#table-of-contents {
    margin-bottom: 25px;
}

section ul {
    margin-left: 25px;
}

section ul li:not(:first-child) {
    margin-top: 5px;
}

section ul li::before {
    content: " \2013\A0\A0 ";
}

section a {
    cursor: pointer;
}

section ul li a:hover {
    color: #F08CAE;
}

.inner-list {
    margin-top: 5px;
    margin-left: 40px;
}

.underlined-link {
    text-decoration: underline;
}

.underlined-link:hover {
    color: #F08CAE;
}

.disclaimer {
    margin-top: 50px;
}