* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #151515;
    background-color: #EFF2F1;
}

h1, h2 {
    font-family: 'Fira Mono', monospace;
    color: rgba(64, 32, 64, 0.75);
}

h2 {
    font-size: 26px;
    margin: auto auto 25px auto;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

a {
    color: inherit;
}

.main-content img {
    padding: 20px;
    max-width: 100%;
}

.page {
    position: absolute;
    display: block;
    min-height: 100%;
    text-align: center;
    margin-top: 60px;
    top: 0;
    padding: 0 20px;
}

.page-container {
    position: relative;
    display: block;
    min-height: 100%;
    margin-top: 60px;
    text-align: center;
}

.section-title {
    margin: 100px auto;
}

.button {
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

/* Nav Bar */

#nav {
    position: fixed;
    display: block;
    top: 0;
    z-index: 3;
    background-color: #EFF2F1;
    width: 100%;
    height: 60px;
    transition: top 0.3s;
    margin-bottom: 60px;
}

/* Nav Menu Items */

.nav-items {
    display: none;
    margin-top: 50px;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav-items li {
    position: relative;
    color: #EFF2F1;
    background-color: #EFF2F1;
    margin: 0 auto;
}

.nav-items li a {
    display: block;
    padding: 15px;
    color: #92374e;
    background-color: #EFF2F1;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.nav-items li a:hover, .nav-items li a:focus {
    transition: all 0.2s ease-out;
}

/* Logo */

.logo {
    display: block;
    float: left;
    margin: 15px 0;
    padding: 0 20px;
    height: 30px;
}

/* Menu Button */

#menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

#menu-icon span {
    background: #151515;
    display: block;
    height: 3px;
    position: relative;
    width: 32px;
}

#menu-icon span:before, #menu-icon span:after {
    background: #151515;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

#menu-icon span:before {
    top: -10px;
}

#menu-icon span:after {
    bottom: -10px;
}

.show {
    display: block;
    position: static;
    text-align: center;
    list-style: none;
    overflow: hidden;
    width: 100%;
    max-height: max-content;
    transition: max-height .2s ease-out;
}

/* Name Typewriter Animation */

.typewriter {
    display: block;
    width: max-content;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px 0;
}

.typewriter h1 {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    white-space: nowrap;
    font-size: 35px;
    border-right: 28px solid;
    box-sizing: border-box;
    animation: typing 3s steps(11, end), blink 1s step-end infinite;
}

.typewriter h1 a {
    text-decoration: none;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from, to {
        border-color: rgba(146, 55, 77, 0.5);
    }
    50% {
        border-color: transparent;
    }
}

/* Short Bio */

.short-bio {
    margin: 20px auto;
}

.short-bio p {
    padding-bottom: 5px;
}

.short-bio p a {
    color: #4A2040;
    font-weight: bold;
    text-decoration: none;
}

.short-bio p a:hover {
    color: #92374D;
    transition: all 0.2s ease-out;
}

/* Quote Under Section Titles */

.quote {
    margin: auto;
    font-style: italic;
}

.quote a {
    text-decoration: none;
}

.quote a:hover {
    color: #92374D;
    transition: all 0.2s ease-out;
}

/* About Me Terminal Window */

.about {
    text-align: left;
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
    margin-top: 50px;
}

.terminal-header {
    background-color: rgba(64, 32, 64, 0.75);
    color: #EFF2F1;
    padding: 7px 20px 5px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

.title, .right-side-buttons {
    margin: 0;
    letter-spacing: 1px;
}

.right-side-buttons .fas, .right-side-buttons .far {
    padding-left: 10px;
    color: #EFF2F1;
    border-radius: 50%;
}

.terminal-window {
    background-color: #151515;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    letter-spacing: 0.25px;
}

.statement {
    margin-bottom: 30px;
}

#top.statement {
    margin-top: 10px;
}

#bottom.statement {
    margin-bottom: 40px;
}

#bottom.statement .input span {
    border-left: 12px solid;
    animation: carat 1s steps(1) infinite;
}

.input {
    color: #EFF2F1;
    margin-bottom: 5px;
}

.return {
    color: #FCCA73;
}

.return a {
    color: #47C2FF;
    text-decoration: none;
}

.return a:hover {
    color: #ffa2bb;
    transition: all 0.2s ease-out;
}

.about .terminal-window .statement .input:before {
    content: ">\A0";
}

@keyframes carat {
    50% {
        border-color: transparent;
    }
}

/* Projects */

.project-card {
    position: relative;
    display: block;
    margin: 50px auto;
    text-align: left;
    padding: 0 30px;
    background-color: #F8F8F8;
    border: 1px solid #EFF2F1;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

.project-title {
    margin: 30px auto;
}

.project-description {
    margin: 25px auto;
}

.project-description a {
    color: #4A2040;
    font-weight: bold;
    text-decoration: none;
}

.project-description a:hover {
    color: #92374D;
    transition: all 0.2s ease-out;
}

.project-skills {
    position: relative;
    display: block;
    margin: 10px auto;
}

.project-skills span {
    border: 2px solid #47C2FF;
    border-radius: 5px;
    margin: auto 8px 10px auto;
    padding: 5px;
    position: relative;
    display: inline-block
}

.project-links {
    position: relative;
    display: block;
    margin: 10px auto 30px auto;
}

.project-links a {
    border-radius: 5px;
    margin: auto 15px 10px auto;
    padding: 8px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.project-links .live-demo {
    color: #F8F8F8;
    background-color: rgba(64, 32, 64, 0.75);
    border: 1px solid rgba(64, 32, 64, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.project-links .source {
    color: #4A2040;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* Photos */

.masonry-layout {
    display: block;
    margin: 50px auto;
    column-gap: 1.4em;
}

.masonry-layout .brick {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.4em;
}

.masonry-layout .brick img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Contact Me */

.social-links {
    margin: 50px auto;
}

.social-links .fab {
    padding: 5px;
    margin: 0 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #151515;
}

.social-links .fab:hover, .social-links .fab:focus {
    color: #92374D;
}

/* Footer */

.copyright {
    position: relative;
    margin: 100px auto 50px auto;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

/* For Larger Screen */

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2em;
    }
    .page {
        position: relative;
        max-width: 1000px;
        text-align: center;
        align-items: center;
        scroll-behavior: smooth;
    }
    .page-container {
        text-align: center;
        align-items: center;
    }
    #nav {
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        overflow: hidden;
    }
    .navbar {
        max-width: 1000px;
    }
    #home-nav-label {
        display: none;
    }
    #menu-icon {
        display: none;
    }
    .nav-items {
        display: block;
        margin: 0;
        float: right;
        list-style: none;
        overflow: hidden;
        max-width: fit-content;
    }
    .nav-items li {
        display: block;
        margin: 0;
        float: left;
        list-style: none;
        overflow: hidden;
    }
    .nav-items li a {
        margin: 0 10px;
        padding: 19px 20px;
        color: #151515;
    }
    .nav-items li a:hover, .nav-items li a:focus {
        color: #92374e;
        transition: all 0.2s ease-out;
    }
    .typewriter h1 {
        font-size: 3.2em;
        border-right: 35px solid #4A2040;
    }
}

/* Photos layout for medium and larger screens */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .masonry-layout {
        column-count: 2;
    }
}

@media only screen and (min-width: 1024px) {
    .masonry-layout {
        column-count: 3;
    }
}