@import url('https://fonts.googleapis.com/css?family=Montserrat&family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e1e5ee;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

a {
    color: inherit;
}

.page-container {
    position: absolute;
    min-height: 100%;
}

@media only screen and (min-width: 768px) {
    .page-container {
        text-align: center;
    }
}

/* Nav Bar */

.nav-wrap {
    height: 50px;
    line-height: 50px;
    width: 100%;
}

.nav {
    padding: 10px 30px;
    background-color: #e1e5ee;
    box-shadow: 1px 1px 5px 0 rgba(66, 30, 30, 0.2);
    position: fixed;
    width: 100%;
    z-index: 3;
}

/* Nav Menu Items */

.nav .nav-items {
    display: none;
}

.nav .nav-items li a {
    display: block;
    color: #083d77;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.nav .nav-items li a:hover, .nav .nav-items li a:focus {
    color: #ef798a;
    transition: all 0.2s ease-out;
}

.nav .nav-items li a.current {
    color: #4c191b;
}

/* Logo and Nav Icon */

.nav .logo {
    display: block;
    float: left;
    margin: 10px 0;
    height: 30px;
}

.nav .nav-icon {
    position: relative;
    float: right;
    padding: 25px 0;
    user-select: none;
}

.nav .nav-icon span {
    background: #083d77;
    display: block;
    position: relative;
    height: 2px;
    width: 30px;
    border-radius: 3px;
    z-index: 1;
}

.nav .nav-icon span:before, .nav .nav-icon span:after {
    background: #083d77;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
}

.nav .nav-icon span:before {
    top: 10px;
}

.nav .nav-icon span:after {
    top: -10px;
}

/* Nav Toggle Menu Button */

.nav #nav-button {
    display: none;
}

.nav #nav-button:checked~.nav-icon span {
    background: transparent;
}

.nav #nav-button:checked~.nav-icon span:before {
    transform: rotate(-45deg);
}

.nav #nav-button:checked~.nav-icon span:after {
    transform: rotate(45deg);
}

.nav #nav-button:checked~.nav-icon:not(.steps) span:before, .nav #nav-button:checked~.nav-icon:not(.steps) span:after {
    top: 0;
}

.nav #nav-button:checked~.nav-items {
    display: block;
    position: relative;
    padding-top: 50px;
    text-align: center;
    list-style: none;
    overflow: hidden;
}

/* On Larger Screens */

@media only screen and (min-width: 768px) {
    .nav {
        box-shadow: none;
        padding: 10px 50px;
    }
    .nav .nav-items {
        display: block;
        position: relative;
        float: right;
        list-style: none;
        overflow: hidden;
    }
    .nav .nav-items li {
        float: left;
    }
    .nav .nav-items li a {
        padding: 10px 15px;
    }
    .nav .logo {
        margin: 20px;
        height: 30px;
    }
    .nav .nav-icon {
        display: none;
    }
}

/* Home Page */

.content-wrap {
    text-align: center;
    position: relative;
    margin: 20px 0 100px 0;
    padding: 20px;
    width: 100vw;
}

.content-wrap .main-content {
    height: auto;
    padding: 5px 5%;
    width: 100%;
}

.content-wrap .main-content img {
    max-width: 100%;
    height: auto;
}

/* On Larger Screen */

@media only screen and (min-width: 768px) {
    .content-wrap .main-content {
        display: block;
        padding: 5px 20%;
    }
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-icons {
    padding: 5px;
}

.footer-text {
    padding: 5px;
    text-align: right;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.fab {
    padding: 5px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #083d77;
    border-radius: 50%;
}

.fab:hover, .fab:focus, .footer-text:hover, .footer-text:focus {
    color: #ef798a;
    transition: all 0.2s ease-out;
}

/* On Larger Screen */

@media only screen and (min-width: 768px) {
    footer {
        padding: 20px 70px;
        background-color: #e1e5ee;
        height: 5rem;
        margin-bottom: 20px;
        flex-direction: row;
    }
}