.music-container {
    align-self: center;
    min-width: 100%;
    max-width: 1200px;
}

.music-block {
    margin-top: 50px;
}

.music-display {
    margin-top: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 1em;
    border: 2px solid #399E5A;
    border-radius: 10px;
    height: 80px;
    line-height: 30px;
}

#currently-playing-container .music-display {
    border: 2px solid #F08CAE;
}

.cover-img {
    height: 50px;
    width: 50px;
}

.info {
    display: -webkit-box;
    line-height: 30px;
    text-overflow: clip;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.title {
    font-weight: 700;
    letter-spacing: 0.1em;
}

.title, .artist-album {
    font-size: 0.9em;
}

.artist-album span::before {
    content: "\A0\2013\A0";
}

@media only screen and (min-width: 768px) {
    .music-container {
        min-width: 70%;
    }
    .top-music-container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    .top-music-container div {
        width: 100%;
    }
    .title, .artist-album {
        font-size: 1em;
    }
}