h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
}

#projects {
    margin: 50px auto;
}

.project-card {
    position: relative;
    display: block;
    margin: 50px auto;
    text-align: left;
    padding: 0 30px;
    background-color: #F8F8F8;
    border: 1px solid #EFF2F1;
    border-radius: 3px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.project-title {
    margin: 30px auto;
}

.project-description {
    margin: 25px auto;
}

.project-description a {
    color: #4A2040;
    font-weight: bold;
    text-decoration: none;
}

.project-description a:hover {
    color: #92374D;
    transition: all 0.2s ease-out;
}

.project-skills {
    position: relative;
    display: block;
    margin: 10px auto;
}

.project-skills span {
    border: 2px solid #47C2FF;
    border-radius: 5px;
    margin: auto 8px 10px auto;
    padding: 5px;
    position: relative;
    display: inline-block
}

.project-links {
    position: relative;
    display: block;
    margin: 10px auto 30px auto;
}

.project-links a {
    border-radius: 5px;
    margin: auto 15px 10px auto;
    padding: 8px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.project-links .live-demo {
    color: #F8F8F8;
    background-color: rgba(64, 32, 64, 0.75);
    border: 1px solid rgba(64, 32, 64, 0.75);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.project-links .source {
    color: #4A2040;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

